*{
    margin: 0;
    scroll-behavior: smooth;
}
html{
    width: 100%;
}
body {
    background: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
    height: 100%;
    font-family: 'Fredoka', sans-serif;
    margin: 0 5px;
    color: white;
}
i.toggle-button{
    position: absolute;
    margin-top: .7rem;
    margin-right: .7rem;
    right: 1em;
    display: none;
    flex-direction: column;
    color: #c777b9;
    justify-content: space-between;
    padding-top: 12px;
}

ul {
    display: flex;
    list-style-type: none;
} 

 main{
     display: flex;
     background: #0A0A0A;
     border-radius: 1.5em;
     align-items: center;
} 

footer{
    background: #0A0A0A;
    width: 100%;
    height: 100px;
    position: relative;
    top: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    border-radius: 1em;
}

header{
    position: sticky;  
    top: 0;
    z-index: 10;
}
.navbar{
  padding: 5px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0A0A0A;
  border-radius: 1.5em;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    padding: 16px 32px;
    color: white;
}
.navbar-links a:hover{
    background: #C25E97;
    border-radius: 1.5em;
    transition: 0.5s;
    color: white;
    height: 10px;
    cursor: pointer;
}
.li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    padding: 16px 32px;
}
.li:hover{
    background: #C25E97;
    border-radius: 1.5em;
    transition: 0.5s;
    color: white;
    height: 30px;
    cursor: pointer;
}

.divlogo{
    display: flex;
    align-items: center;
    gap: .8em;
    border-radius: 50%;
}
.logo{
    max-width: 40px;
    height: auto;
    border-radius: 30%;
}
.box-shadow{
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgaside{
    width: 60%;
    height: auto;
    border-radius: 50%;
    padding-left: 5%;
} 

#projetos{
    border-radius: 1.5em;
    margin-top: .5em;
    background: #0A0A0A;
    text-align: center;
    padding: 4em 2em;
}
.pj-img{
    margin-top: .5em;
    border-radius: .5em;
    margin-right: 1em;
}
.i1{
    width:25%
}
.i2{
    width: 25%;
}
.i3{
    width: 30%;
}
img:hover{
    opacity: 0.8;
}
.section1{
    text-align: center;
    width: 50%;
    padding: 5em;
}
.section2{
    width: 50%;
    /* padding: 3em; */
}
.section4{
    margin-top: .5em;
    background: #0A0A0A;
    border-radius: 1.5em;
    text-align: center;
    padding: 3em;
    max-height: 38em;
}
.jsicon{
    list-style: none; 
    font-size: 25px;
    padding: 1em;
    display: inline-flex;
    justify-content: center;
}

.hfont{
    font-size: 50px;
    color: #7c54c0;
}
p.pfont{
    line-height: 30px;
    display: inline;
    font-size: 20px;
}
.h2fonte{
    display: inline;
    width: 400px;
}
.portfolio-btn{
    transition: 0.5s;
    background: #0A0A0A;
    border-style: none;
    border:3px solid #C25E97;
    border-radius: 1.5em;
    margin-top: 5px;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #cf6ba4;
}

.portfolio-btn:hover{
    background: #C25E97;
    color: white;
    transition: 0.5s;
}

.btn-cssbuttons {
    margin-top: 1em;
    --btn-color: #C25E97;
    position: relative;
    padding: 16px 32px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 2px 8px #8E436E);
            filter: drop-shadow(0 2px 8px #8E436E);
    -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span,
   .btn-cssbuttons span span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
   }
   
   .btn-cssbuttons span:first-child {
    padding-right: 7px;
   }
   
   .btn-cssbuttons span span {
    margin-left: 8px;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
   }
   
   .btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
   }
   
   .btn-cssbuttons ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
   }
   
   .btn-cssbuttons ul li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-transform: translateY(55px);
        -ms-transform: translateY(55px);
            transform: translateY(55px);
    -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons ul li a:hover {
    opacity: 0.5;
   }
   
   .btn-cssbuttons:hover::before {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
   }
   
   .btn-cssbuttons:hover span,
   .btn-cssbuttons:hover span span {
    -webkit-transform: translateY(-55px);
        -ms-transform: translateY(-55px);
            transform: translateY(-55px);
   }
   
   .btn-cssbuttons:hover ul li a {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
   }
   
   .btn-cssbuttons:hover ul li:nth-child(1) a {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(2) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(3) a {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
   }


   #sectionabout{
    display: flex;
    background: #0A0A0A;
    padding: 2em;
    margin-top: .5em;
    border-radius: 1.5em;
    align-items: center;
    padding-left: 15em;
}
.about-img{
    width: 20%;
    height: auto;
    border-radius: 50%;
}
.section3{
    padding-left: 15%;
    width: 650px;
    text-align: center;
}
.about{
    padding: 10px 20px;
    line-height: 30px;
}
.redes{
    padding: 0.5em;
    color: #7c54c0;
}
.redes:hover{
    color: #533a7e;
}
.cvbtn{
    background: #C25E97;
    border-style: none;
    border-radius: 1.5em;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 1em;
    -webkit-filter: drop-shadow(0 2px 8px #8E436E);
    filter: drop-shadow(0 2px 8px #8E436E);
}

.cvbtn:hover{
    background: #8E436E;
    color: white;
    transition: 0.5s;
}

@media (max-width:1300px){
    .imgaside{
        width: 90%;
    }
    #sectionabout{
        display: flex;
        background: white;
        padding: 2em;
        margin-top: .5em;
        border-radius: 1.5em;
        flex-direction: column;
        align-items: center;
    }
    .about-img{
        order: -1;
    }
    .section3{
        padding: 0;
        line-height: 20px;
        text-align: center;
    }
}
@media (max-width:768px){
    .section1{
        width: 100%;
        text-align: center;
    }
    .section2{
        display: none;
    }
    .pfont{
        display: inline;
    }
    .h2fonte{
        display: inline-block;
    }
    .section3{
        padding: 0;
    }
}
@media (max-width:730px){
    i.toggle-button{
        display: initial;
    }
    .pfont{
        display: inline-block;
        padding-bottom: 5px;
        width: 80%;
    }
    .about{
        padding: 10px 5px;
    }
    .section1{
        text-align: center;
        padding: 2em;
        box-sizing: content-box;
    }
    .hfont{
        font-size: 40px;
    }
    .h2fonte{
        display: inline;
        font-size: 20px;
        width: 300px;
    }
    .section3{
        padding: 0;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;  
        width: 100%;
        margin-top: 1em;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }    
    .navbar-links ul li{
        text-align: center;
    }
    
    .navbar-links.active {
        display: flex;
    }
}
@media (max-width:320px){
    .section1{
        text-align: center;
        padding: 20px 5px ;
    }
    .pfont{
        display: inline;
        text-align: center;
        font-size: 16px;
    }
    .hfont{
        font-size: 30px
    }
    .h2font{
        font-size: 20px;
    }
    .about-img{
        display: none;
    }
    h3.about{
        font-size: 18px;
        width: 100%;
    }
    .section4{
        padding: 48px 48px 70px 48px;
    }
    #projetos{
        padding: 2em;
    }
    .pj-img{
        max-width: 36%;
        max-height: 40%;
    }
}